{% extends 'base.html' %}

{% block content %}
     <section class="halfhead" style="background:url('css/img/product-cover.jpg') no-repeat; background-position: center; background-size: cover;">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10">
                    <h1>PRODUCT RENDERING</h1>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="text-center col-md-12">


                    <h2><span>3D Product Rendering</span></h2>


                    <div class="text-center">
                        <p>When you design a product to launch in the market, you would want to make sure that your customers are attracted to it. You need to focus not only on the quality of your products but also on the visuals of your products. And 3D Product renders are the best way to showcase your Product in the most attractive and alluring way to your clients.</p>
                        <p>At 3dFusionStudio, we work to bring the 3D render models to life. We work with you, understand you, and complete works to ensure your maximum satisfaction. </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
<div class="w-100"><hr></div>

    <section>
        <div class="container">
            <div class="row">
                <div class="text-center col-md-12">


                    <h2><span>What are 3D Product Renders?</span></h2>


                    <div class="text-center">
                        <p>Product rendering refers to creating photorealistic images of a product that would be marketed to a target audience for sale. These product renderings are more than just any simple 3D models. Every single CGI renders are in use for various purposes, including marketing and advertisement, generation of ROI, and displaying products from different angles. It is a cheaper and more efficient alternative to product photography.</p>
                        <p>The uniqueness of a well-done product render would generate way more demand for a particular product in the market by displaying it attractively to your potential clients.</p>
                        <p>These Product renders main types, namely Whitespace Rendering, displaying the Product with a simple white background. While the other type is called Contextual Rendering, where the Product is rendered with a background that highlights it's used. You can choose any depending on the Product you want to get rendered.</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
<div class="w-100"><hr></div>

    <section>
        <div class="container">
            <div class="row">
                <div class="text-center col-md-12">


                    <h2><span>Benefits of Product Rendering</span></h2>



<div class="text-start">
                    <ul>
                        <li>
                            <div style="padding-bottom:20px; font-weight: 600;">Express your story</div>
                            <p>One of your main aim at your business would be to connect with your audience, make them feel more driven towards you. And nothing can help you stand out better than telling your story through appealing visuals of your Product.</p>
                        </li>
                        <li>
                            <div style="padding-bottom:20px; font-weight: 600;">Design the Product flawlessly</div>
                            <p>3D Product renders help you visualize a product design in a creative way that would suit you the best. And unlike traditional designs, you do not need to think over any extra cost for alterations or product packaging. You can check out various options and inspect a design from all angles and choose the best-suited one for you.</p>
                        </li>
                        <li>
                            <div style="padding-bottom:20px; font-weight: 600;">Take your communication to the next level</div>
                            <p>With an attractive render design, you get the chance to communicate more vividly with your clients. Not only your clients but also you will be able to create a strong connection with your potential investors and shareholders to influence them for expansion.</p>
                        </li>
                        <li>
                            <div style="padding-bottom:20px; font-weight: 600;">Generate Sales</div>
                            <p>When you can ensure better connection and extend your reach by expressing your story through flawless product rendering, there will be no looking back for you. Thus, you will be able to create more sales and achieve higher ROI.</p>
                        </li>
                    </ul>


                </div>

                </div>
            </div>
        </div>
    </section>
    <section id="action-box" class="dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8" style="padding-top: 5px;">
                    <h3>Get a free price quote</h3>

                </div>
                <div class="col-md-4 col-sm-4 text-end">
                    <a href="#contact-form" class="btn btn-white">GET IN TOUCH</a>
                </div>
            </div>
        </div>
    </section>

<section id="portfolio">
        <div class="container-fluid">
            <div class="text-center">
                <h2><span>Our Work</span></h2>
            </div>
            <div class="row">

                                <div class="col-lg-4 text-center gutters">
                    <a data-fslightbox="gallery" href="{{ data.images.product.product.file }}">
                        <img src="{{ data.images.product.product.file|thumb700 }}"  style="height: auto; max-width: 100%;" alt="{{ data.images.product.product.alt }}" loading="lazy">
                    </a>
                </div>
                                             <div class="col-lg-4 text-center gutters">
                    <a data-fslightbox="gallery" href="{{ data.images.product.product1.file }}">
                        <img src="{{ data.images.product.product1.file|thumb700 }}"  style="height: auto; max-width: 100%;" alt="{{ data.images.product.product1.alt }}" loading="lazy">
                    </a>
                </div>
                                                <div class="col-lg-4 text-center gutters">
                    <a data-fslightbox="gallery" href="{{ data.images.product.product2.file }}">
                        <img src="{{ data.images.product.product2.file|thumb700 }}"  style="height: auto; max-width: 100%;" alt="{{ data.images.product.product2.alt }}" loading="lazy">
                    </a>
                </div>

                                                          <div class="col-lg-4 text-center gutters">
                    <a data-fslightbox="gallery" href="{{ data.images.product.product3.file }}">
                        <img src="{{ data.images.product.product3.file|thumb700 }}"  style="height: auto; max-width: 100%;" alt="{{ data.images.product.product3.alt }}" loading="lazy">
                    </a>
                </div>
                                                       <div class="col-lg-4 text-center gutters">
                    <a data-fslightbox="gallery" href="{{ data.images.product.product4.file }}">
                        <img src="{{ data.images.product.product4.file|thumb700 }}"  style="height: auto; max-width: 100%;" alt="{{ data.images.product.product4.alt }}" loading="lazy">
                    </a>
                </div>


                <div class="col-lg-4 text-center gutters">
                    <a data-fslightbox="gallery" href="{{ data.images.product.product5.file }}">
                        <img src="{{ data.images.product.product5.file|thumb700 }}"  style="height: auto; max-width: 100%;" alt="{{ data.images.product.product5.alt }}" loading="lazy">
                    </a>
                </div>
                                                                                       <div class="col-lg-4 text-center gutters">
                    <a data-fslightbox="gallery" href="{{ data.images.product.product6.file }}">
                        <img src="{{ data.images.product.product6.file|thumb700 }}"  style="height: auto; max-width: 100%;" alt="{{ data.images.product.product6.alt }}" loading="lazy">
                    </a>
                </div>
                                <div class="col-lg-4 text-center gutters">
                    <a data-fslightbox="gallery" href="{{ data.images.product.product7.file }}">
                        <img src="{{ data.images.product.product7.file|thumb700 }}"  style="height: auto; max-width: 100%;" alt="{{ data.images.product.product7.alt }}" loading="lazy">
                    </a>
                </div>
         </div>
        </div>
    </section>

<div class="w-100"><hr></div>

{% include "contact-form.html" %}
{% endblock %}